.product_container{
    width:25%;
    height:100%;
    min-width:300px;
    background-color:white;
    margin:10px;
    box-shadow: -11px -5px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius:5px;
    padding:10px;
    height:350px;
}

.product.img{
    width:100%;
    max-height:60%;
}

.product_details{
    text-align:center;
}

.product.price{
    font-weight: bold;
    font-size:x-large;
}