* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.form_container{
    display:flex;
    justify-content: center;
    height:100vh;
    align-items: center;
}
.container {
    width: 100%;
    height: 100vh;
    /*background-image: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)), url(laptop.jpg);*/
    background-position: center;
    position: relative;
}

.form-box {
    width: 90%;
    max-width: 450px;
    background: black;
    padding: 20px 60px 20px;
    text-align: center;
    border-radius:30px;
}

.form-box h1 {
    font-size: 30px;
    margin-bottom: 30px;
    color: yellow;
    position: relative;
}

.input-field {
    width:100%;
    background: white;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding:1px;
    padding-left:10px;
}

.input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 15px 15px;
}

.input-field i {
    margin-left: 15px;
    color: #999;
}

form p a {
    text-decoration: none;
}


.btn-field button {
    margin-top:10px;
    margin-bottom:10px;
    padding:10px;
    width: 100%;
    flex-basis: 48%;
    background: blue;
    color: #fff;
    height: auto;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.input-group {
    width:100%;
    height: auto;
}

.status{
    color:red;
    font-size:medium;
}